body {
    padding: 20px;
    background-color: var(--color-main-background);
}

html {
    background-color: var(--color-html-background);
}

nav {
    border-radius: 5px;
}

body ::selection {
    color: var(--color-white);
    background-color:var(--color-purple);
}
