:root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-purple: #800080;

    --color-html-background: #5e5e5e;
    --color-main-background: #1e152a;

    --color-main-text: var(--color-white);
}
